li {
  display: inline-block;
  width: 125px;
  padding: 36px; 
}
ul {
  float: right
}
header {
  background-color: gray;
}
header * {
  display: inline-block;
}
main {
  margin: 50px;
}
header > img {
  margin: 5px 50px 5px 50px;
}
footer {
  background-color: gray;
}
p {
  overflow: scroll;
}
.rightdiv {
  width: 400px;
}
.button {
  cursor: pointer;
}

  