li {
  display: inline-block;
  width: 125px;
  padding: 36px; 
}
ul {
  float: right
}
header {
  background-color: gray;
}
header * {
  display: inline-block;
}
main {
  margin: 50px;
}
header > img {
  margin: 5px 50px 5px 50px;
}


  